p{color: blue;
    text-align: left;}
/*la couleur des paragraphes*/

img{width:360px;
    height:480px;}

aside{float: left;}

section{margin:60px;
    Border:1px solid black;
    margin-right: 240px;
    margin-left: 195px;}

ul{list-style-type: none;
    margin: 0;
    padding: 0;}

li{margin-left: 2px;
    display: block;}

    
ul li a{display: block;
    float: left;
    width: 155px;
    background-color: #f5f5f3;
    color: #594a4a;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border: 1px solid;}


ul li a:hover{background-color: #635756;
    color: white;}