body{background-color: #f0efeb;}

h2{color:#5a4a4a;
    /*margin-top: 93px;}*/}
    /*vérifier si cela ne change pas la disposition du texte*/

p{color: black;
      text-align: justify;
      width: 360px;
      margin-left: 47px;
      margin-right: 44px;
      display: flex;}
    /*la couleur des paragraphes et la mise en forme*/

ul{list-style-type: none;
    margin: 0;
    padding: 0;}

li{margin-left: 2px;
    display: block;}

ul li a{display: block;
        float: left;
        width: 155px;
        background-color: #f5f5f3;
        color: #594a4a;
        text-decoration: none;
        text-align: center;
        padding: 34px;
        border: 1px solid;
        margin: 14px;}

ul li a:hover{background-color: #635756;
        color: white;}

nav{padding: 0; margin: 0; justify-content: center;
    }

img{width:360px;
    height:476px;
    }


section{margin:60px;
        Border:1px solid black;
        margin-right: 240px;
        margin-left: 195px;
        background-color: #ffffff;
        height: 476px;}

aside{float: left;}


#logo{margin-left: 47px;
    height: 130px;}